<a href="https://colab.research.google.com/github/Debdatta7/PrepInsta-Project/blob/main/Week3_data1_solutions_Debdatta_Mukherjee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import Library

In [ ]:
import numpy as np
import pandas as pd

### Load Data

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Week 3 project/Data-cleaning-for-beginners-using-pandas.csv")

### Methods

In [ ]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.sample(5)

    Index   Age     Salary  Rating       Location  Established Easy Apply
18     18  35.0  $44k-$99k     6.7    New York,Ny         1954       TRUE
13     13  25.0  $44k-$99k    -1.0  Australia Aus         2019       TRUE
5       5  44.0  $77k-$89k     1.4       India,In         1999       TRUE
12     12   NaN  $44k-$99k     0.0       India,In         1999         -1
10     10  55.0  $10k-$49k     5.4       India,In         2008       TRUE

In [ ]:
data.shape

(29, 7)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

### Easy apply

In [ ]:
data.rename(columns = {'Easy Apply':'Easy_Apply'},inplace = True)
data["Easy_Apply"]=data["Easy_Apply"].str.replace("-1","False")
data

    Index   Age      Salary  Rating       Location  Established Easy_Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1      False
3       3  64.0   $44k-$99k     4.4       India In         1988      False
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002      False
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1      False
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1      False
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1      False
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009      False
12     12   NaN   $44k-$99k     0.0       India,In         1999      False
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999      False
16     16  19.0   $19k-$40k     4.5       India,In         1984      False
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946      False
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987      False
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935      False
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932      False

### Age

In [ ]:
avg_age=data['Age']. mean()
avg_age

39.04545454545455

In [ ]:
data.Age.fillna(avg_age)
data['Age']=data.Age.fillna(avg_age)
data['Age']=data.Age.astype(int)
data

    Index  Age      Salary  Rating       Location  Established Easy_Apply
0       0   44   $44k-$99k     5.4       India,In         1999       TRUE
1       1   66   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   39   $77k-$89k    -1.0    New York,Ny           -1      False
3       3   64   $44k-$99k     4.4       India In         1988      False
4       4   25   $44k-$99k     6.4  Australia Aus         2002      False
5       5   44   $77k-$89k     1.4       India,In         1999       TRUE
6       6   21   $44k-$99k     0.0    New York,Ny           -1      False
7       7   44   $44k-$99k    -1.0  Australia Aus           -1      False
8       8   35   $44k-$99k     5.4    New York,Ny           -1      False
9       9   22   $44k-$99k     7.7       India,In           -1       TRUE
10     10   55   $10k-$49k     5.4       India,In         2008       TRUE
11     11   44   $10k-$49k     6.7       India,In         2009      False
12     12   39   $44k-$99k     0.0       India,In         1999      False
13     13   25   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14   66   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15   44  $88k-$101k     3.0  Australia Aus         1999      False
16     16   19   $19k-$40k     4.5       India,In         1984      False
17     17   39   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18   35   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19   32   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   39   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21   35   $44k-$99k     5.0    New York,Ny         1946      False
22     22   19   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   39   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24   13   $44k-$99k    -1.0    New York,Ny         1987      False
25     25   55   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   39   $55k-$66k     NaN       India,In         1934       TRUE
27     27   52   $44k-$99k     5.4       India,In         1935      False
28     28   39   $39k-$88k     3.4  Australia Aus         1932      False

### Salary

In [ ]:
data["Salary"]=data["Salary"].str.replace("$", "")
data["Salary"]=data["Salary"].str.replace("k","000")
data.head()

<ipython-input-16-67398a199aef>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Salary"]=data["Salary"].str.replace("$", "")

   Index  Age       Salary  Rating       Location  Established Easy_Apply
0      0   44  44000-99000     5.4       India,In         1999       TRUE
1      1   66  55000-66000     3.5    New York,Ny         2002       TRUE
2      2   39  77000-89000    -1.0    New York,Ny           -1      False
3      3   64  44000-99000     4.4       India In         1988      False
4      4   25  44000-99000     6.4  Australia Aus         2002      False

In [ ]:
data[['Min_Salary', 'Max Salary']] = data['Salary'].str.split('-', expand=True)
data = data.drop(columns=['Salary'])
data

,Index,Age,Rating,Location,Established,Easy_Apply,Min_Salary,Max Salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,-1.0,"New York,Ny",-1,False,77000,89000
3,3,64,4.4,India In,1988,False,44000,99000
4,4,25,6.4,Australia Aus,2002,False,44000,99000
5,5,44,1.4,"India,In",1999,TRUE,77000,89000
6,6,21,0.0,"New York,Ny",-1,False,44000,99000
7,7,44,-1.0,Australia Aus,-1,False,44000,99000
8,8,35,5.4,"New York,Ny",-1,False,44000,99000
9,9,22,7.7,"India,In",-1,TRUE,44000,99000
10,10,55,5.4,"India,In",2008,TRUE,10000,49000
11,11,44,6.7,"India,In",2009,False,10000,49000
12,12,39,0.0,"India,In",1999,False,44000,99000
13,13,25,-1.0,Australia Aus,2019,TRUE,44000,99000
14,14,66,4.0,Australia Aus,2020,TRUE,44000,99000
15,15,44,3.0,Australia Aus,1999,False,88000,101000
16,16,19,4.5,"India,In",1984,False,19000,40000
17,17,39,5.3,"New York,Ny",1943,TRUE,44000,99000
18,18,35,6.7,"New York,Ny",1954,TRUE,44000,99000
19,19,32,3.3,"New York,Ny",1955,TRUE,44000,99000
20,20,39,5.7,"New York,Ny",1944,TRUE,44000,99000
21,21,35,5.0,"New York,Ny",1946,False,44000,99000
22,22,19,7.8,"New York,Ny",1988,TRUE,55000,66000
23,23,39,2.4,"New York,Ny",1999,TRUE,44000,99000
24,24,13,-1.0,"New York,Ny",1987,False,44000,99000
25,25,55,0.0,Australia Aus,1980,TRUE,44000,99000
26,26,39,NaN,"India,In",1934,TRUE,55000,66000
27,27,52,5.4,"India,In",1935,False,44000,99000
28,28,39,3.4,Australia Aus,1932,False,39000,88000

### Rating

In [ ]:
data["Rating"] = data["Rating"].replace(-1.0, np.nan)
avg_rating=data['Rating'].mean()
data['Rating']=data.Rating.fillna(avg_rating)
data['Rating']=data.Rating.round(decimals=1)
data

,Index,Age,Rating,Location,Established,Easy_Apply,Min_Salary,Max Salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,4.3,"New York,Ny",-1,False,77000,89000
3,3,64,4.4,India In,1988,False,44000,99000
4,4,25,6.4,Australia Aus,2002,False,44000,99000
5,5,44,1.4,"India,In",1999,TRUE,77000,89000
6,6,21,0.0,"New York,Ny",-1,False,44000,99000
7,7,44,4.3,Australia Aus,-1,False,44000,99000
8,8,35,5.4,"New York,Ny",-1,False,44000,99000
9,9,22,7.7,"India,In",-1,TRUE,44000,99000
10,10,55,5.4,"India,In",2008,TRUE,10000,49000
11,11,44,6.7,"India,In",2009,False,10000,49000
12,12,39,0.0,"India,In",1999,False,44000,99000
13,13,25,4.3,Australia Aus,2019,TRUE,44000,99000
14,14,66,4.0,Australia Aus,2020,TRUE,44000,99000
15,15,44,3.0,Australia Aus,1999,False,88000,101000
16,16,19,4.5,"India,In",1984,False,19000,40000
17,17,39,5.3,"New York,Ny",1943,TRUE,44000,99000
18,18,35,6.7,"New York,Ny",1954,TRUE,44000,99000
19,19,32,3.3,"New York,Ny",1955,TRUE,44000,99000
20,20,39,5.7,"New York,Ny",1944,TRUE,44000,99000
21,21,35,5.0,"New York,Ny",1946,False,44000,99000
22,22,19,7.8,"New York,Ny",1988,TRUE,55000,66000
23,23,39,2.4,"New York,Ny",1999,TRUE,44000,99000
24,24,13,4.3,"New York,Ny",1987,False,44000,99000
25,25,55,0.0,Australia Aus,1980,TRUE,44000,99000
26,26,39,4.3,"India,In",1934,TRUE,55000,66000
27,27,52,5.4,"India,In",1935,False,44000,99000
28,28,39,3.4,Australia Aus,1932,False,39000,88000

### Location

In [ ]:
data[['Location', 'Country_initials' ]] = data['Location'].str.split(',', expand=True)
data['Location']=data. Location.str.replace(" Aus"," ")
data['Country_initials']=data.Country_initials.str.replace("None", "Aus")
data[ 'Country_initials']=data.Country_initials.fillna('Aus')
data

,Index,Age,Rating,Location,Established,Easy_Apply,Min_Salary,Max Salary,Country_initials
0,0,44,5.4,India,1999,TRUE,44000,99000,In
1,1,66,3.5,New York,2002,TRUE,55000,66000,Ny
2,2,39,4.3,New York,-1,False,77000,89000,Ny
3,3,64,4.4,India In,1988,False,44000,99000,Aus
4,4,25,6.4,Australia,2002,False,44000,99000,Aus
5,5,44,1.4,India,1999,TRUE,77000,89000,In
6,6,21,0.0,New York,-1,False,44000,99000,Ny
7,7,44,4.3,Australia,-1,False,44000,99000,Aus
8,8,35,5.4,New York,-1,False,44000,99000,Ny
9,9,22,7.7,India,-1,TRUE,44000,99000,In
10,10,55,5.4,India,2008,TRUE,10000,49000,In
11,11,44,6.7,India,2009,False,10000,49000,In
12,12,39,0.0,India,1999,False,44000,99000,In
13,13,25,4.3,Australia,2019,TRUE,44000,99000,Aus
14,14,66,4.0,Australia,2020,TRUE,44000,99000,Aus
15,15,44,3.0,Australia,1999,False,88000,101000,Aus
16,16,19,4.5,India,1984,False,19000,40000,In
17,17,39,5.3,New York,1943,TRUE,44000,99000,Ny
18,18,35,6.7,New York,1954,TRUE,44000,99000,Ny
19,19,32,3.3,New York,1955,TRUE,44000,99000,Ny
20,20,39,5.7,New York,1944,TRUE,44000,99000,Ny
21,21,35,5.0,New York,1946,False,44000,99000,Ny
22,22,19,7.8,New York,1988,TRUE,55000,66000,Ny
23,23,39,2.4,New York,1999,TRUE,44000,99000,Ny
24,24,13,4.3,New York,1987,False,44000,99000,Ny
25,25,55,0.0,Australia,1980,TRUE,44000,99000,Aus
26,26,39,4.3,India,1934,TRUE,55000,66000,In
27,27,52,5.4,India,1935,False,44000,99000,In
28,28,39,3.4,Australia,1932,False,39000,88000,Aus

### Established

In [ ]:
data["Established"]=data["Established"].astype(str)
data["Established"] = data["Established"].str.replace('-1','Unknown')
data

,Index,Age,Rating,Location,Established,Easy_Apply,Min_Salary,Max Salary,Country_initials
0,0,44,5.4,India,1999,TRUE,44000,99000,In
1,1,66,3.5,New York,2002,TRUE,55000,66000,Ny
2,2,39,4.3,New York,Unknown,False,77000,89000,Ny
3,3,64,4.4,India In,1988,False,44000,99000,Aus
4,4,25,6.4,Australia,2002,False,44000,99000,Aus
5,5,44,1.4,India,1999,TRUE,77000,89000,In
6,6,21,0.0,New York,Unknown,False,44000,99000,Ny
7,7,44,4.3,Australia,Unknown,False,44000,99000,Aus
8,8,35,5.4,New York,Unknown,False,44000,99000,Ny
9,9,22,7.7,India,Unknown,TRUE,44000,99000,In
10,10,55,5.4,India,2008,TRUE,10000,49000,In
11,11,44,6.7,India,2009,False,10000,49000,In
12,12,39,0.0,India,1999,False,44000,99000,In
13,13,25,4.3,Australia,2019,TRUE,44000,99000,Aus
14,14,66,4.0,Australia,2020,TRUE,44000,99000,Aus
15,15,44,3.0,Australia,1999,False,88000,101000,Aus
16,16,19,4.5,India,1984,False,19000,40000,In
17,17,39,5.3,New York,1943,TRUE,44000,99000,Ny
18,18,35,6.7,New York,1954,TRUE,44000,99000,Ny
19,19,32,3.3,New York,1955,TRUE,44000,99000,Ny
20,20,39,5.7,New York,1944,TRUE,44000,99000,Ny
21,21,35,5.0,New York,1946,False,44000,99000,Ny
22,22,19,7.8,New York,1988,TRUE,55000,66000,Ny
23,23,39,2.4,New York,1999,TRUE,44000,99000,Ny
24,24,13,4.3,New York,1987,False,44000,99000,Ny
25,25,55,0.0,Australia,1980,TRUE,44000,99000,Aus
26,26,39,4.3,India,1934,TRUE,55000,66000,In
27,27,52,5.4,India,1935,False,44000,99000,In
28,28,39,3.4,Australia,1932,False,39000,88000,Aus

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Index             29 non-null     int64
 1   Age               29 non-null     int64
 2   Rating            29 non-null     float64
 3   Location          29 non-null     object
 4   Established       29 non-null     object
 5   Easy_Apply        29 non-null     object
 6   Min_Salary        29 non-null     object
 7   Max Salary        29 non-null     object
 8   Country_initials  29 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.2+ KB